.videoList {
  display: table;
  margin: 0 auto;

  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  li {
    float: left;
    margin-top: 100px;
    display: inline;
    text-align: center;
  }

  img {
    width: 60%;
  }
}

