{% include 'UserBundle:Base:head.html.twig' %}

<body>
{% include 'UserBundle:Base:header.html.twig' %}
<div class="container">
    {% block container %}

    {% endblock %}
</div>
{% include 'UserBundle:Base:footer.html.twig' %}
</body>
</html>